<!DOCTYPE html>
<html lang="pt-BR" th:replace="~{base :: layout (~{::main})}">
    <body>
        <main>
            <h1>Lista de Freelancers</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Endereço</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="freelancer: ${freelancers}">
                    <td scope="row" th:text="${freelancer.id}"></td>
                    <td>
                        <a th:href="@{/freelancer/{id} (id=${freelancer.id})}" th:text="${freelancer.nome}"></a>
                    </td>
                    <td th:text="${freelancer.telefone}"></td>
                    <td th:text="${freelancer.endereco}"></td>
                </tr>
                </tbody>
            </table>
        </main>